@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/dist/js/empty.js")" asp-append-version="true" asp-add-nonce></script>
}